<h2 class="text-center text-secondary my-2">Add room!</h2>
{{room|json}}
<div class="alert alert-success">
    {{successMessage}}
</div>
<form class="d-flex gap-2 flex-column px-3 mb-3" (ngSubmit)="AddRoom()">
    <div class="form-group">
        <label for="roomtype" class="form-label">Room type</label>
        <input id="roomtype" class="form-control" type="text" name="roomType" [(ngModel)] ="room.roomType" />
    </div>
    <div class="form-group">
        <label for="roomtype" class="form-label">Room number</label>
        <input id="roomtype" class="form-control" type="text" name="roomnumber" [(ngModel)] ="room.roomNumber" />
    </div>
    <div class="form-group">
        <label for="amenities" class="form-label">Amenities</label>
        <input class="form-control" type="text" name="amenities" id="amenities" [(ngModel)] ="room.amenities" />
    </div>
    <div class="form-group">
        <label for="price" class="form-label">Room Price</label>
        <input class="form-control" type="number" name="price" id="price" [(ngModel)] ="room.price" />
    </div>
    <div class="form-group">
        <label for="photos" class="form-label">Photos</label>
        <input class="form-control" type="text" name="photos" id="photos" [(ngModel)] ="room.photos" />
    </div>
    <div class="form-group">
        <label for="checkintime" class="form-label">Date time (Checkin)</label>
        <input class="form-control" type="datetime-local" name="checkintime" id="checkintime" [(ngModel)] ="room.checkinTime" />
    </div>
    <div class="form-group">
        <label for="checkouttime" class="form-label">Date time (Checkout)</label>
        <input class="form-control" type="datetime-local" name="checkouttime" id="checkouttime" [(ngModel)] ="room.checkoutTime" />
    </div>
    <div class="form-group">
        <label for="rating" class="form-label">Rating</label>
        <input class="form-control" type="number" name="rating" id="rating" [(ngModel)] ="room.rating" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add room</button>
    </div>
    
</form>
