Welcome to <app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<button class="btn btn-success" (click)="toggle();">hide that</button>
<button class="btn btn-danger mx-2" (click)="addRoom();">Add Room</button>
<button class="btn btn-info mx-2" (click)="editRoom();">Edit Room</button>
<button class="btn btn-warning mx-2" (click)="deleteRoom();">Delete Room</button>
<div *ngIf="selectedRoom" class="bg-info">selectedroom{{selectedRoom|json}}</div>
<p [innerText]="checkingprpBinding" [hidden]="isithidden"></p>
<div *ngIf="rooms.availableRooms >= 20" [ngStyle]="{'color': rooms.availableRooms > 10 && 'yellow'}">Total available
    rooms {{rooms.availableRooms < 10 ? "below 10" : "above 15" }}</div>
        <app-rooms-list [rooms]="roomsList" [title]="title" (selectedRoom)="selectingRoom($event)"></app-rooms-list>

        <strong>{{totalBytes}}</strong> bytes loaded

        <!-- Checking rooms$ -->
        <!-- async pipe is unwrap the stream and unsubscribe immediately -->
        <!-- {{rooms$ | async | json}}

        <app-rooms-list [rooms]="rooms$ | async" [title]="title" (selectedRoom)="selectingRoom($event)">
        </app-rooms-list> -->
        <!-- checking avoid multiple async subscriptions -->
        <!-- <p>checking avoid multiple async subscriptions</p>
        <div *ngIf="rooms$| async as rooms">
            <app-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectingRoom($event)">
            </app-rooms-list>
        </div> -->
        <p>Checing subscribed error handling</p>
        {{getError$ | async}}
        <p>Total rooms count</p>
        {{roomsCount$ | async}}