<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background: #303030;height: 93vh;">
            <div>
                <mat-card class="my-3" style="width:100%">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="legacy">
                            <mat-label>Task name</mat-label>
                            <input formControlName="item" matInput placeholder="Enter task (alpha neumeric)">
                            <mat-icon matSuffix>newspaper_variant_outline</mat-icon>
                            <mat-hint>Task name is should be unique.</mat-hint>
                        </mat-form-field>
                        <div class="mt-3">
                            <button mat-raised-button color="primary">Add task</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" cdkDropListGroup>
                <div class="col-md-4">
                    <h2>To do</h2>
                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Progress</h2>
                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Done</h2>
                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>