<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div style="background: #303030;height: 93vh;">
                <mat-card>
                    <form>
                        <p>
                            <mat-form-field appearance="legacy">
                                <mat-label>Legacy form field</mat-label>
                                <input matInput placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>