

<div style="width:100%">
    <h1 class="bg-warning p-4 text-white">Welcome user!<span class="text-primary" #username></span> </h1>
    <ng-template #user></ng-template>    
</div>
<app-container>
    <app-employee></app-employee>
    <h3 class="text-danger">This is wrong ng content</h3>
</app-container>

<!-- <app-rooms></app-rooms> -->
<!-- <h1 [ngClass]="'odd'">Im root</h1>
<div [ngSwitch]="usertype">
    <div *ngSwitchCase="'user'">
        im user
    </div>
    <div *ngSwitchCase="'admin'">
        im admin
    </div>
    <div *ngSwitchDefault>im sucked!</div>
</div> -->
